################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LongestIncreasingSequence/obj
/LongestIncreasingSequence/bin/Debug/netcoreapp3.1
/HouseRobber/obj
/HouseRobber/bin/Debug/netcoreapp3.1
/TribonacciSeries/obj
/TribonacciSeries/bin/Debug/netcoreapp3.1
/DeleteAndEarn/obj
/DeleteAndEarn/bin/Debug/netcoreapp3.1
/MaxMultiplicationResult/obj
/MaxMultiplicationResult/bin/Debug/netcoreapp3.1
/MinimumDifficulty/obj
/MinimumDifficulty/bin/Debug/netcoreapp3.1
/MaximumSizeSubSquareMatrix/obj
/MaximumSizeSubSquareMatrix/bin/Debug/netcoreapp3.1
/LongestCommonSubsequence/obj
/LongestCommonSubsequence/bin/Debug/netcoreapp3.1
/OptimalStrategyOfAGame/obj
/OptimalStrategyOfAGame/bin/Debug/netcoreapp3.1
/CoinChange/obj
/CoinChange/bin/Debug/netcoreapp3.1
